VITE_LUNARCRUSH_API_KEY=your_lunarcrush_api_key_here
VITE_LUNARCRUSH_BASE_URL=https://lunarcrush.com/api4/public
PORT=8787
CACHE_TTL_MS=180000
LUNARCRUSH_API_KEY=your_lunarcrush_api_key_here
LUNARCRUSH_BASE_URL=https://lunarcrush.com/api4/public
